div.wrapper {
    max-width: 100%;
}

section {
    max-width: 100%;
}

h1.hero {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
  text-align: center;
  font-size: 12vmin;
  margin-top: 70px
}

#header nav ul li.fork {
    margin-right: 5px;
}
#header nav ul li a {
    background: linear-gradient(#2a2a29, #1c1c1c);
    background-color: #2a2a29;
    border-color: #e8e8e8;
}

#header nav ul li a:hover {
    background: linear-gradient(#e8e8e8, #f8f8f8);
    background-color: #e8e8e8;
    border-color: #2a2a29;
    color: #2a2a29;
}
